@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error frontsite</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container-fluid">
        <div class="page-header">
            <h3>Se produjo un error <small>Al consultar una p&aacute;gina</small></h3>
        </div>
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            <label>Ups, tuvimos un problema del tipo @ViewBag.tipo</label>
            <p>@ViewBag.msj</p>
        </div>
    </div>
    @Html.RenderSectionEx("AvScripts")
</body>
</html>
